{% extends 'base.html' %}

{% block body %}



{% for msg in messages %}
{{msg}}
{% endfor %}

<div class="form my-5 ">
    <h1 class="mb-5">Register Page</h1>
    <form action="" method="post" class="px-5">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" class="form-control"><br>

        <label for="">Email</label>
        <input type="email" name="email" class="form-control"><br>

        <label for="">Password</label>
        <input type="password" name="password1" class="form-control"><br>

        <label for="">Confirm Password</label>
        <input type="password" name="password2" class="form-control"><br>

        <input type="submit" class="btn btn-dark" value="Register Now">
    </form>
</div>
{% endblock body %}